html, body {
	width: 100%;
	height: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	
	font-family: arial,sans-serif;
	font-size: 12px;
}

.hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.teacherView {
	color: #449E00;
}

.classifiedEmployeeView {
	color: #EEA904;
}

.errorView {
	color: #BA0A0D;
}

.teacherBody {
	background-color: #F0F8F0;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.01, rgb(245,243,229)),
	    color-stop(0.39, rgb(68,158,0)),
	    color-stop(0.8, rgb(245,243,229))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(245,243,229) 1%,
	    rgb(68,158,0) 39%,
	    rgb(245,243,229) 80%
	);
}

.classifiedBody {
	background-color: #F0F8F0;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.01, rgb(245,243,229)),
	    color-stop(0.39, rgb(238,169,4)),
	    color-stop(0.8, rgb(245,243,229))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(245,243,229) 1%,
	    rgb(238,169,4) 39%,
	    rgb(245,243,229) 80%
	);
}

.errorBody {
	background-color: #F0F8F0;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.01, rgb(245,243,229)),
	    color-stop(0.39, rgb(186,10,13)),
	    color-stop(0.8, rgb(245,243,229))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(245,243,229) 1%,
	    rgb(186,10,13) 39%,
	    rgb(245,243,229) 80%
	);
}

#popupBackground {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
	position: absolute;
	
	z-index: 100;
}

#popupMenu {
	-moz-box-shadow: 5px 5px 10px #000000;
  -webkit-box-shadow: 5px 5px 10px #000000;
  
	z-index: 101;
}

#popupMenu .item {
	padding: 5px 5px 5px 5px;
	
	font-size: 14px;
	font-weight: bold;
	
	cursor: hand; cursor: pointer;
}

#popupMenu .item:hover {
	background-color: #00bf00;
	color: #f0f8f0;
}

#content {
	text-align: center;
}


.uiRoundCorners {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}



#calendarHeader {
	width: 100%;
	
	text-align: center;	
}

#calendarHeader .header {
	width: auto;
	height: 33px;
	line-height: 30px;
	
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 0px 5px;
	
	text-align: center;
	
	overflow: hidden;
}

#calendarHeader .header .title {
	width: 99%;
	
	
	font-size: 30px;
	
	position: absolute;
	display: block;
	z-index: 10;
}

#calendarHeader .header .text {
	margin: 0px 5px 0px 0px;
	float:left;
	z-index: 11;
}

#calendarHeader .header #importButton {
	float:left;
	z-index: 11;
}

#calendarHeader .header #calendarSelect {
	float: right;
	position: relative;
	z-index: 11;
}

#calendarHeader .header #calendarSelect select {
	cursor: hand; cursor: pointer;
}


#calendarHeader .header img {
	margin: 0px 5px 0px 0px;
	
	float: right;
}

#calendarHeader .rawTextInput {
	width: 600px;
	height: 327px;
	
	font-family: "Courier New"; 
	font-size: 11px;
	
	display: none;
}

#calendarHanger .hook .pinBottom {
	width: 25px;
	height: 25px;
	
	
	display: inline-block;
	position: absolute;
	left: 6px;
	top: -12px;
	
	background-color: #00BF00;
	
	border: 1px solid #008F00;
	
	-moz-box-shadow: -2px 5px 5px #003C00;
  -webkit-box-shadow: -2px 5px 5px #003C00;
  
  -moz-border-radius: 25px 25px 25px 25px;
	-webkit-border-radius: 25px 25px 25px 25px;	
	
}

#calendarHanger .hook .pinTop {
	width: 15px;
	height: 15px;
	
	display: inline-block;
	position: absolute;
	left: 16px;
	top: -16px;
	
	border: 1px solid #008F00;
	
	background-color: #00BF00;
	
	-moz-box-shadow: -2px 5px 5px #003C00;
  -webkit-box-shadow: -2px 5px 5px #003C00;
  
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;	
	
}

#calendarHanger .hook {
	width: 30px;
	height: 50px;
	border-top: 5px solid black;
	border-left: 5px solid black;
	border-right: 5px solid black;
	
	display: inline-block;
	position: absolute;
	left: 275px;
	top: -20px;
	
	-moz-border-radius: 25px 25px 0px 0px;
	-webkit-border-radius: 25px 25px 0px 0px;	
	
}

#calendarHanger {
	width: 600px;
	height: 10px;
	margin: 35px 0px -10px 0px;
	
	background-color: transparent;
	
	display: inline-block;
	position: relative;
	
	-moz-border-radius: 25px 25px 0px 0px;
	-webkit-border-radius: 25px 25px 0px 0px;	

}

#calendar {
	width: 600px;
	
	padding: 0px 20px 20px 20px;
	
	display: inline-block;
	position: relative;
}

#calendar #removeCalanderButton {
	top: 10px;
	right: 10px;
	
	display: none;
	position: absolute;
}

#calendar #removeCalanderButton .ui-icon,
#calendar #removeCalanderButton .ui-corner-all {
	float: right;
}

#calendar .spinner {
	
	top: 20px;
	left: 0px;
	
	position: relative;
	display: block;
}

#calendar .year {
	
	margin: 20px 0px 0px 0px;
	padding: 15px 5px 0px 5px;
	
	display: inline-block;
}

#calendar .year .text {
	margin: -15px 70px 0px 70px;
	
	font-size: 40px;
}

#calendar .year .ui-icon {
	
	cursor: hand; cursor: pointer;
}

#calendar .year span {
	float: left;
}

#calendar h1 {
	
	
}

#calendar .month {
	width: 182px;
	height: 195px;
	margin: 5px 5px 5px 5px;
	padding: 3px 3px 3px 3px;
	
	-moz-box-shadow: 5px 5px 5px #555555;
  -webkit-box-shadow: 5px 5px 5px #555555;
  box-shadow: 5px 5px 5px #555555;
	
	
	float: left;
	display: inline-block;
}

#calendar .month h1 {
	font-size: 16px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;	
}


#calendar .month .header {
	width: 24px;
	height: 20px;
	line-height: 20px;
	
	float: left;
	border-left: 1px solid #F0F8F0;
	border-right: 1px solid #F0F8F0;
	background-color: #008F00;
	color: #F0F8F0;
	text-align: center;
	vertical-align: middle;
}

#calendar .month .weekend {
	color: #C2BEA7;
	cursor: default !important;
	font-weight: normal !important;
}

#calendar .month .weekend:hover {
	border: 1px solid #F0F8F0 !important;
}


#calendar .month .dayOfMonth {
	cusor: hand; cursor: pointer;
}

#calendar .month .dayOfMonth:hover {
	border: 1px solid #D4CCB0;
	font-weight: bold;
}

#calendar .month .day {
	padding: 2px 2px 2px 2px;
	
	float: left;
	border: 1px solid #F0F8F0;
	
	
	z-index: 51;
}

#calendar .month .day .mask {
	width: 20px;
	height: 20px;
	line-height: 20px;
	
	
	
	text-align: center;
	vertical-align: middle;
	
	z-index: 50;
}

#calendar .prevYear .month {
	float: right !important;
}


.absentDay {
	background-color: #80DF80;
	cursor: hand; cursor: pointer;
}

.formSubmitted {
	background-color: #dfc0c0;	
}

#appNavBar {
	width: 100%;
	height: auto;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;

	border-top: 2px solid #C0E0C0;
	border-bottom: 1px solid #C0E0C0;
	
	display: inline-block;
}

#appNavBar a {
	color: #FFFFFF;
	text-decoration: none;
}

#appNavBar .currentNavItem {
	padding: 4px 5px 5px 5px !important;
	font-weight: bold !important;
	border-top: 3px solid #4FB500 !important;
	/*
	border-left: 3px solid #F5F3E5 !important;
	border-right: 3px solid #F5F3E5 !important;
	*/
}

#appNavBar .currentNavItem a,
#appNavBar .currentNavItem .text {
	color: #003600 !important;
}

#appNavBar .appNavLeftItem .text,
#appNavBar .appNavRightItem .text,
#appNavBar .currentNavItem .text {
	float: left;
}

#appNavBar .appNavLeftItem,
#appNavBar .appNavRightItem {
	margin: -2px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	
	font-weight: normal;

	cursor: hand; cursor: pointer;
}

#appNavBar .appNavLeftItem:hover,
#appNavBar .appNavRightItem:hover {
	background-color: #C0EFC0;
}
#appNavBar .appNavLeftItem a,
#appNavBar .appNavRightItem a,
#appNavBar .appNavLeftItem .text,
#appNavBar .appNavRightItem .text {
		color: #008000;
}

#appNavBar .appNavLeftItem {
	border-top: 2px solid transparent;
	float: left;
}

#appNavBar .appNavRightItem {
	border-top: 2px solid transparent;
	float: right;
}

#appNavBar #userNavItem span {
	float: right;
}

#appNavBar #moreNavItem span {
	float: right;
}
/*
#appNavBar #moreNavItem .ui-icon:hover {
	background-image: url("/css/jquery/images/ui-icons_8dc262_256x240.png");
}
*/
#header {
	width: 100%;
	height: auto;
	margin: 0px 0px 5px 0px;
	
	display: inline-block;
}

#header #searchBar {
	height: 107px;
	line-height: 187px;
	
	margin: 0px 5px 0px 0px;
	
	vertical-align: bottom;
	
	float: left;
	
	
}

#header #logo {
	margin: 0px 5px 0px 0px;
	
	float: left;
}

#header #logo,
#header #logo img {
	width: 300px;
}


#footer {
	width: 100%;
	
	margin: 20px 0px 0px 0px;
	
	
	background: url("/css/jquery/images/ui-bg_gloss-wave_100_ece8da_500x100.png") repeat-x scroll 50% 50% #ECE8DA;
	border-top: 1px solid #D4CCB0;
	border-bottom: 1px solid #D4CCB0;
	
	display: inline-block;
	
	color: #433F38;
  font-weight: bold;
	font-size: 10px;
	text-align: right;	
}


#searchQuery {
	width: 300px;
}

.ui-button {
	padding: 5px 5px 5px 5px;
	
	font-weight: bold !important;
}

#searchResultsContainer {
	width: 100%;
	
	overflow: hidden;
	display: inline-block;
}

#searchResultsContainer #icon {
	float: right;
	
	display: block;
	position: relative;
	
	z-index: 50;
}

#searchResultsContainer .label {
	
	padding: 5px 5px 5px 5px;
	
	font-size: 14px;
	font-weight: bold;	
}

#searchResultsContainer .label .text {
	margin: 0px 5px 0px 0px;
	
}

#searchResultsContainer .label span {
	
}

#searchResultsContainer .label .ui-icon {
	cursor: hand; cursor: pointer;
}

#searchResultsContainer .tableContainer {
	width: 100%;
	min-height: 10px;
	max-height: 400px;
	
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	
	overflow-y: auto;
	display: inline-block;
}

#searchResults {
	width: 100%;
	text-align: left;
	
	/*table-layout:fixed;*/
}

#searchResults .searchResultEmpty {
	padding: 5px 5px 5px 5px;
}


#searchResults .item {
	height: 20px;
	
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 0px 10px;
	
	font-weight: bold;
	
	border-bottom: 1px solid #C0E0C0;
	
	cursor: hand; cursor: pointer;
}

#searchResults #formSubmitted {
	min-width: 34px;
	width: 34px;
	max-width: 34px;
	
	text-align: center;
}

#searchResults #name {
	min-width: 300px;
	width: 300px;
	max-width: 300px;
}

#searchResults #date {
	mmin-width: 90px;
	width: 90px;
	max-width: 90px;
	
	padding: 0px 10px 0px 0px;
	
	text-align: right;
}

#searchResults th#date {
	text-align: left;
}

#searchResults #info {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

#searchResults .ui-state-hover {
	border-top: 0px !important;
	border-left: 0px !important;
	border-right: 0px !important;
	border-bottom: 1px solid #C0E0C0;
	background-color: #C0EFC0;
	background: #C0EFC0;
	color: #006B00;
}

#searchResultsContainer .label .title {
	width: 99%;
	margin: -20px 0px 0px 0px;
	
	text-align: center;
	font-size: 20px;
	
	position: absolute;
	display: block;
	z-index: 10;
}

#searchResultsContainer .label .title .text {
	display: inline-block;
}

#searchResultsContainer .label .title span {
	display: inline-block;
	
}

.bg1 {
	background-color: #BBBBBB;
}

.bg2 {
	background-color: #CCCCCC;
}

.ui-dialog {
	overflow: visible;
}

.ui-dialog .ui-dialog-buttonpane {
	padding: 0px !important;
}

#addAbsenceDialog {
	overflow: visible;
}

#addAbsenceDialog table th {
	text-align: left;
}

#addAbsenceDialog table td {
	padding: 5px 5px 5px 5px;
}

#addAbsenceDialog table .ui-state-error,
#addAbsenceDialog table input,
#addAbsenceDialog table select {
	float:left;
}
#addAbsenceDialog table input { 
	margin: 0px 10px 0px 0px;
}

#addAbsenceDialog table td select {
	margin: 0px 10px 0px 0px;
}

#addAbsenceDialog table td .ui-state-error {
	
	border: 0px !important;
	
	display: none;
	cursor: help;
}

#addAbsenceDialog .reason {
	width: 50px;	
}

#addAbsenceDialog .hours {
	width: 50px;	
}

input[type=text],
select {
	padding: 2px 0px 2px 0px;
	border: 1px solid #C0E0C0;
	background-color: #F0F8F0;
	color: #003600;
	
}

.auraRed {
	-moz-box-shadow: 0 0 20px red !important;
	-webkit-box-shadow: 0 0 20px red !important;
}

.auraGreen,
.auraSelected  {
	-moz-box-shadow: 0 0 20px lightgreen;
	-webkit-box-shadow: 0 0 20px lightgreen;
}

.auraLightBlue{
	-moz-box-shadow: 0 0 20px #1BC6E0;
	-webkit-box-shadow: 0 0 20px #1BC6E0;
}
/*
.tooltip {
	position: relative;
	display:none;
	background:url(/images/black_arrow_big.png);
	height:163px;
	padding:40px 30px 10px 30px;
	width:310px;
	font-size:13px;
	color:#fff;
	z-index: 9999;
}

.tooltip a {
	color:#ad4;
	font-size:11px;
	font-weight:bold;
}
*/

.tooltip {
	min-width: 50px;
	
	padding: 10px;
  margin: 10px auto;
  
  border: 2px solid #433F38;
  background-color: #ECE8DA;
  color: #433F38;
  text-align: left;
  
  position: fixed;
  display: none;
  
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -moz-box-shadow:0 0 5px #888888;
  -webkit-box-shadow:0 0 5px #888888;
  
  z-index: 2000;
}

.tooltip .tooltip-content {
	
}

.tooltip .tooltip-arrow {
	border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  
}

.tooltip .tooltip-arrow-left-top {
	top: 10px;
  left: -17px;
  
  border-color: transparent #EDEDED transparent transparent;
}

.tooltip .tooltip-arrow-border-left-top {
	top: 10px;
	left: -20px;
	border-color: transparent #433F38 transparent transparent;
}


.tooltip .tooltip-arrow-bottom-left {
	bottom: -19px;
  left: 30px;
  
  border-color: #EDEDED transparent transparent transparent;
}

.tooltip .tooltip-arrow-border-bottom-left {
	bottom: -22px;
	left: 30px;
	border-color: #433F38 transparent transparent transparent;
}

.tooltip .tooltip-arrow-top-right {
	top: -19px;
  left: 30px;
  
  border-color: transparent transparent #EDEDED transparent;
}

.tooltip .tooltip-arrow-border-top-right {
	top: -22px;
	left: 30px;
	border-color: transparent transparent #433F38 transparent;
}



.tooltip .tooltip-arrow-border {
	border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position:absolute;
}

.tooltip .tooltip-arrow-border-bottom-left {
	bottom: -22px;
	left: 30px;
	border-color: #666666 transparent transparent transparent;
}

.tooltip .tooltip-arrow-border-center-right {
	left: -20px;
	margin: auto 0px auto 0px;
	border-color: transparent #666666 transparent transparent;
}



#categorySelector {
	display: inline-block;
	float: right;
	
}

#fileUploadMenu {
	padding: 2px 2px 2px 2px;
	z-index: 101;
}






/*
.circleWidget {
	position: relative;
}

.circleWidget .outerRing {
	width: 100px;
	height: 100px;
	padding: 4px 0px 0px 4px;
	
	background-color: black;
	
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	
	position: absolute;
}

.circleWidget .innerRing {
	width: 96px;
	height: 96px;
	
	background-color: white;
	
	border-radius: 48px;
	-moz-border-radius: 48px;
	-webkit-border-radius: 48px;
	
	position: absolute;
}

.circleWidget .oneThirdItem {
	
	border-color: red green blue orange;
  border-style:solid;
  border-width:20px;
  width:0;
  height:0;
  
  position: absolute;
}
*/

